/* reset rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

/* nav bar */

nav{
    display: flex;
    justify-content: center;
    width: 100%;

    position: fixed;
    z-index: 10;

    box-shadow: 2px 2px 2px rgb(163, 161, 161);


    background-color: #FF6900;
}

.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    padding: 10px 0;

    max-width: 1050px;
}

.nav-box .category{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-grow: 1;

    max-width: 170px;
}

.nav-box .category a{
    text-decoration: none;
    
    font-weight: bold;

    color: white;
}

.nav-box .logo img{
    height: 30px;
}

.nav-box .nav-icon{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-grow: 1;

    color: white;

    max-width: 170px;
}

.nav-box .nav-icon i{
    gap: 20px;
}

/* end nav bar */

/* main of the page*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 10px;
    padding: 0 80px;
    padding-top: 100px;
    padding-bottom: 40px;
    max-width: 1500px;

}

main .main-box .img-box{
    position: relative;
}

main .main-box .img-box .img-hov{
    position: absolute;

    top: 0;

    display: none;
}

main .main-box .img-box:hover .img-hov{
    display: block;
}

main .main-box .img-box img{   
    
    height: 500px;

    z-index: 0;
}


main .main-box .img-box .tags{
    position: absolute;

    z-index: 1;
}

main .main-box .img-box .mini-box{

    display: flex;
    justify-content: space-between;
    gap: 5px;

    bottom: 90px;

    max-width: 250px;
}
main .main-box .img-box .heart{

    right: 0;
    top: 10px;
    
    padding: 10px;

    background-color: white;
}

main .main-box .img-box .sales{

    padding: 4px 10px;
    font-size: small;

    background-color: #FF0000;
    color: white;
}

main .main-box .img-box .sust{

    padding: 4px 10px;
    font-size:small;

    background-color: #25c025;
    color: white;

}


main .main-box .img-box .price{
    font-size: x-small;
    color: red;
}

main .main-box .img-box .price span{
    text-decoration: line-through;
    color: black;
}